* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url('./images/background-pattern.jpg');
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  border-bottom: 1px solid rgba(127, 129, 131, 0.103);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-right: 60px;
  background-color: white;
}

.dd-search-bar {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  background-color: rgba(169, 169, 169, 0.137);
  padding-block: 8px;
  padding-inline: 20px;
  border-radius: 10px;
}
.dd-search-bar select {
  border: none;
  background-color: transparent;
  color: rgba(106, 105, 105, 0.842);
  padding-right: 20px;
}

.search-bar  {
  display: flex;
}

.dd-search-bar .search-bar input {
  border: none;
  background-color: transparent;
  width: 300px;
  color: rgba(106, 105, 105, 0.842);
}
.dd-search-bar .search-bar input:focus {
  outline: none;
}
.dd-search-bar .search-bar i {
  color: rgba(106, 105, 105, 0.842);
}

.support {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}
.support p {
  font-size: 0.7rem;
  color: rgba(106, 105, 105, 0.842);
  font-weight: 600;
}
.support h4, .your-cart h4 {
  color: rgba(0, 0, 0, 0.756);
}

.header-icons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.header-icons p {
  background-color: rgba(169, 169, 169, 0.208);
  padding-inline: 6px;
  padding-block: 3px;
  border-radius: 50px;
  text-align: center;
}
.header-icons i {
  color: rgb(49, 49, 49);
}

.your-cart {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2px;
}
.your-cart p {
  font-size: 0.7rem;
  color: rgba(106, 105, 105, 0.842);
  font-weight: 600;
}

/* Main Section */
.mini-header {
  margin-top: 30px;
  margin-inline: 10px;
  width: 600px;
  display: flex;
  align-items: center;
  gap: 40px;
}
.mini-header .departments {
  border: none;
  color: rgba(0, 0, 0, 0.811);
}
.mini-header-links ul{
  list-style-type: none;
  display: flex;
  gap: 30px;
  font-size: small;
  color: rgba(106, 105, 105, 0.842);
}
.main-section {
  display: flex;
  margin-top: 30px;
  margin-inline: 10px;
  gap: 20px;
}
.summer-juice-main {
  padding: 30px;
  border-radius: 8px;
  background-color: #E6F3FA;
  width: 700px;
  height: 480px;
}
.summer-juice {
  display: flex;
}
.summer-juice-content {
  padding-top: 20px;
}
.summer-juice-content h2 {
  color: gold;
  font-weight: normal;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 20px;
}
.summer-juice-content h1 {
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 0.82);
  margin-bottom: 15px;
}
.summer-juice-content p {
  font-size: 0.8rem;
  color: rgba(106, 105, 105, 0.842);
  margin-bottom: 20px;
}
.summer-juice-content button {
  padding-inline: 20px;
  padding-block: 15px;
  font-size: 0.7rem;
  color: rgba(11, 11, 11, 0.701);
  font-weight: 600;
  background: transparent;
  border-radius: 4px;
  border: rgba(11, 11, 11, 0.701) solid 1px;
}
.summer-juice-dots {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.summer-juice-dots .dot-1 {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: gold;
}
.summer-juice-dots .dot-2, .dot-3 {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: white;
}

.fv-baked-products {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fruits-vegetables {
  display: flex;
  justify-content: space-between;
  background-color: #EEF5E5;
  border-radius: 8px;
  height: 230px;
  width: 500px;
}
.fv-content {
  padding: 30px;
  padding-top: 40px;
}
.fv-content h2 {
  font-weight:lighter;
  margin-bottom: 10px;
}
.fv-content h5 {
  font-size: 0.5rem;
  font-weight: lighter;
  letter-spacing: 3px;
  margin-bottom: 10px;
}
.fv-content h1 {
  color: rgba(0, 0, 0, 0.817);
  margin-bottom: 10px;
}
.fv-content p {
  font-size: small;
  color: rgba(106, 105, 105, 0.842);
}
.fv-image {
  margin-bottom: -3px;
  align-self: last baseline;
}

.baked-products {
  display: flex;
  justify-content: space-between;
  background-color: #F9EBE7;
  border-radius: 8px;
  height: 230px;
  width: 500px;
}
.bp-content {
  padding: 30px;
  padding-top: 40px;
}
.bp-content h2 {
  font-weight:lighter;
  margin-bottom: 10px;
}
.bp-content h5 {
  font-size: 0.5rem;
  font-weight: lighter;
  letter-spacing: 3px;
  margin-bottom: 10px;
}
.bp-content h1 {
  color: rgba(0, 0, 0, 0.817);
  margin-bottom: 10px;
}
.bp-content p {
  font-size: small;
  color: rgba(106, 105, 105, 0.842);
}
.bp-image {
  margin-bottom: -3px;
  align-self: last baseline;
}

.category-section {
  padding-right: 30px;
}
.category-header {
  margin: 30px;
  margin-inline: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category-header h2 {
  color: rgba(0, 0, 0, 0.817);
}
.category-header .c-right {
  display: flex;
  align-items: center;
  gap: 30px;
}
.category-header .c-right .view-all-c {
  font-size: small;
  font-weight: 600;
  color:  rgba(106, 105, 105, 0.842);
}
.category-header .c-right .c-page {
  display: flex;
  gap: 10px;
}
.category-header .c-right .c-page p {
  padding-inline: 15px;
  padding-block: 10px;
  border-radius: 5px;
  font-size: 0.6rem;
  background-color: rgba(169, 169, 169, 0.137);
}
.category-content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.category-box {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  align-items: center;
}
.category-box img {
  height: 30px;
  width: 30px;
  margin-bottom: 15px;
}
.category-box p {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.721);
}

.brands-section {
  padding-right: 30px;
}
.brands-header {
  margin: 30px;
  margin-inline: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brands-header h2 {
  color: rgba(0, 0, 0, 0.817);
}
.brands-header .b-right {
  display: flex;
  align-items: center;
  gap: 30px;
}
.brands-header .b-right .view-all-c {
  font-size: small;
  font-weight: 600;
  color:  rgba(106, 105, 105, 0.842);
}
.brands-header .b-right .c-page {
  display: flex;
  gap: 10px;
}
.brands-header .b-right .c-page p {
  padding-inline: 15px;
  padding-block: 10px;
  border-radius: 5px;
  font-size: 0.6rem;
  background-color: rgba(169, 169, 169, 0.137);
}
.brands-content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.brand-box {
  height: 80px;
  width: 260px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  display: flex;
  padding-block: 15px;
  padding-inline: 10px;
  gap: 10px;
  align-items: center;
}
.brand-box img {
  height: 60px;
  width: 60px;
  border-radius: 5px;
}
.brand-box p {
  font-size: 0.7rem;
  color: rgba(39, 39, 39, 0.731);
  padding-bottom: 5px;
}
.brand-box h5 {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgba(106, 105, 105, 0.842);
}

.trending-products {
  padding-right: 30px;
  margin-bottom: 30px;
}
.tp-header {
  margin: 30px;
  margin-inline: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tp-header h2 {
  color: rgba(0, 0, 0, 0.817);
}
.tp-header .tp-header-r {
  display: flex;
  align-items: center;
  gap: 20px;
  color: rgba(106, 105, 105, 0.842);
  font-size: small;
}
.tp-header .tp-header-r p {
  padding-bottom: 12px;
}
.tp-content {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-around;
}
.tp-box {
  background-color: white;
  padding: 15px;
  width: 220px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: fit-content;
}
.tp-box .tp-box-top {
  background-color: #F9F9F9;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 200px;
}
.tp-box .tp-box-top .tp-box-top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tp-box .tp-box-top .tp-box-top-header p {
  background-color: yellowgreen;
  width: 40px;
  height: 20px;
  font-size: small;
  font-weight: bold;
  text-align: center;
  align-content: center;
  color: white;
  border-radius: 6px;
}
.tp-box .tp-box-top .tp-box-top-header .heart {
  background-color: white;
  border: 1px solid rgb(119, 118, 118);
  height: 35px;
  width: 35px;
  text-align: center;
  align-content: center;
  border-radius: 50%;
  font-size: 1rem;
}
.tp-box .tp-box-bottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.tp-box .tp-box-bottom h3 {
  font-size: small;
  color: rgb(119, 118, 118);
}
.tp-box .tp-box-bottom p {
  font-size: 0.6rem;
  font-weight: 600;
  color: rgb(139, 138, 138);
}
.tp-box .tp-box-bottom h2 {
  font-size: medium;
  color: rgba(0, 0, 0, 0.863);
}

.services-section {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.section-1 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 200px;
}
.section-1 .social-links {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 0.5rem;
  width: 100%;
}
.section-1 .social-links i {
  color: rgb(139, 138, 138);
  border: 0.5px solid black;
  padding: 6px 8px;
  align-self: center;
  border-radius: 3px;
  border-color: rgb(139, 138, 138);
}
.section-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section-2 h3 {
  font-size: medium;
  color: rgba(0, 0, 0, 0.842);
}
.section-2 p {
  font-size: small;
  color: rgb(139, 138, 138);
}
.section-3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 260px;
}
.section-3 h3 {
  font-size: medium;
  color: rgba(0, 0, 0, 0.842);
}
.section-3  p {
  font-size: small;
  color: rgb(139, 138, 138);
}
.section-3-subscribe {
  display: flex;
  align-items: center;
}
.section-3 input {
  padding: 0 5px;
  height: 1.6rem;
  font-size: 0.7rem;
  border-radius: 3px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border: none;
  background-color: rgba(115, 115, 115, 0.075);
  color: rgb(139, 138, 138);
}
.section-3 input:focus {
  outline: none;
}
.section-3 button {
  padding: 0 10px;
  height: 1.6rem;
  font-size: 0.6rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.904);
  border: none;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}